<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>PizzApp</title>
</head>
<body>
	<header id='header'>
		<h1>PizzApp</h1>
	</header>
	<div id="order-form">
	</div>

	<div id="main">
	</div>
	


	<script type="text/template" id="pizzaViewTemplate">
			<td><%= pizza.get('id') || "ID" %></td>
			<td><%= pizza.get('name') %></td>
			<td><select>
				<%pizza.get('topping').forEach(function(top){%>
					<option><%=top%></option>;
				<%})%>
			</select></td>
			<td><%= pizza.get('status') %></td>
			<td><input class="cookBox" data-id='<%= pizza.cid %>'  type="checkbox" <%= this.model.get('status')=='cooked' || this.model.get('status')=='delivered' ? 'checked' : '' %>></td>
			<td><input class="deliverBox" data-id='<%= pizza.cid %>'  type="checkbox" <%= this.model.get('status')=='delivered' ? 'checked' : '' %>></td>
			<td><button class="delBut" data-id='<%= pizza.cid %>'  type="button">X</button></td>
	</script>

	<script type="text/template" id="pizzaListTemplate">
		<input id="new-name" placeholder="Name">
		<p>Select Toppings:</p>



			<form action="">
				<input type="checkbox" name="topping" value="Anchovies">Anchovies<br>
				<input type="checkbox" name="topping" value="Beef">Beef<br>
				<input type="checkbox" name="topping" value="Extra Cheese">Extra Cheese<br>
				<input type="checkbox" name="topping" value="Olives">Olives<br>
				<input type="checkbox" name="topping" value="Mushrooms">Mushrooms<br>
				<input type="checkbox" name="topping" value="Pepperoni">Pepperoni<br>
				<input type="checkbox" name="topping" value="Peppers">Peppers<br>
				<input type="checkbox" name="topping" value="Pineapple">Pineapple<br>
				<input type="checkbox" name="topping" value="Sausage">Sausage<br>
			</form><br>



			<!-- //<input id="new-topping" placeholder="Topping"> -->
			<button id="order" type="button">Place Order</button><br><br>
			<table class="pizza-table">
				<thead>
					<tr>
						<th>Order Number</th>
						<th>Name</th>
						<th>Topping</th>
						<th>Status</th>
						<th>Cooked?</th>
						<th>Delivered?</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
				</tbody>

			</table>

	<!-- maybe put this template in the view? -->
	</script>


	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/models/pizza.js"></script>
	<script src="js/collections/pizzas.js"></script>
	<script src="js/views/pizza_view.js"></script>
	<script src="js/views/pizzas.js"></script>
	<!-- <script src="js/views/app.js"></script> -->
	<!-- <script src="js/routers/router.js"></script> -->
	<!-- <script src="js/app.js"></script> -->
</body>
</html>